.animals {
    &-draw-label {
        cursor: pointer;
    }

    &-draws-list {
        color: black;
        background-color: white;
    }

    &-option-button {
        cursor: pointer;
        font-size: 0.8rem;
    }

    &-logo {
        border-radius: 50%;
        border: 3px solid transparent;
        height: 100%;
        max-height: 80px;
        max-width: 80px;
        width: 100%;

        &-selected {
            border-color: #00ac5c;
        }
    }

    &-logo-name-selected {
        color: #00ac5c;
    }

    &-options-wrapper {
        margin: 25px 0;
    }

    &-results-button {
        background-color: transparent;
        border: 1px #00ac5c solid;
        color: white;
        font-weight: bold;
        height: 40px;
        text-transform: uppercase;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        &-draws-wrapper {
            height: 100%;
            overflow: auto;
        }

        &-options-wrapper {
            height: 100%;
            overflow: auto;
            margin: 0;
        }
    }

    @media screen and (min-width: 1280px) {
        &-draws-list {
            max-width: 350px;
            min-width: 350px;
        }
    }
}
