$bg-nav: #010220;
$bg-sections: #010220; //seccion de sorteos y seccion de lista de jugadas
$bg-li-sorteos: #000018;
$text-white: #fff;
$bg-buton-nav: #324198; //Mismo color para los botones de animalitos y los sorteos
$border-color: #000;
$bg-option-button: #fff;
$text-option-button: #000;