@import '../../styles/colors';

.triples {
    &-draw-button {
        min-width: 120px;
        height: 88px;
        flex-shrink: 0;
        background-color: $bg-option-button;
        color: $text-option-button;
        cursor: pointer;
    }
}
