@import '../../styles/colors';

.triples {
    &-lottery-img {
        padding: 10px;
        max-width: 250px;
        height: 90px;
        background-color: white;
        border-radius: 10px;
        border: 3px solid white;

        &-selected {
            border-color: #00ac5c;
        }

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    &-draw-button {
        min-width: 120px;
        height: 88px;
        flex-shrink: 0;
        background-color: $bg-option-button;
        color: $text-option-button;
        cursor: pointer;
        border: 1px #00ac5c solid;

        &-selected {
            background-color: #00ac5c;
            color: white;
        }
    }

    &-special-play-button {
        background-color: #00ac5c;
        border: none;
        color: white;
        font-weight: bold;
        height: 30px;
        margin-left: 10px;
        min-width: 90px;
        text-transform: uppercase;
    }

    &-draws-list {
        margin: 25px 0;
    }

    @media screen and (min-width: 768px) {
        &-draws-list {
            margin: 0;
        }
    }

    @media screen and (min-width: 1280px) {
        &-lotteries-list {
            width: 100%;
            max-width: 250px;
        }
    }
}
