@import '../../styles/colors';

.triples {
    &-draw-button {
        min-width: 120px;
        height: 88px;
        flex-shrink: 0;
        background-color: $bg-option-button;
        color: $text-option-button;
        cursor: pointer;
    }

    &-draws-list {
        margin: 25px 0;
    }

    @media screen and (min-width: 768px) {
        &-draws-list {
            margin: 0;
        }
    }

    @media screen and (min-width: 1280px) {
        &-lotteries-list {
            width: 100%;
            max-width: 250px;
        }
    }
}
