@import '../../styles/colors';

.home {
    &-container {
        background-color: $bg-sections;
        color: $text-white;
        height: 100%;
    }

    &-board {
        background-color: $bg-nav;
        height: calc(100% - 56px);
    }
}
