@import '../../styles/colors';

.home {
    &-container {
        background-color: $bg-sections;
        color: $text-white;
    }

    &-board {
        & > div[tabindex] {
            height: 100%;
            overflow: hidden;
        }
        background-color: $bg-nav;
    }

    &-nav-button {
        min-width: 110px;

        &.active {
            background-color: #182171 !important;
            border-color: #182171 !important;
            color: #fff !important;
        }
    }
}
