@import '../../styles/colors';

.home {
    &-container {
        background-color: $bg-sections;
        color: $text-white;
        min-height: 100%;
    }

    &-board {
        width: 100%;
        background-color: $bg-nav;

        // div added by reach-router
        & > div[tabindex] {
            height: 100%;
            overflow: hidden;
        }
    }

    &-nav-button {
        min-width: 110px;
        color: white;
        cursor: pointer;

        &:not(:last-child)::after {
            content: '';
            width: 2px;
            background-color: white;
            margin: 0 10px;
        }

        &:hover {
            text-decoration: none;
            color: white;
        }

        &.active {
            color: #00ac5c !important;
        }
    }

    @media screen and (min-width: 768px) {
        &-content {
            overflow: hidden;
        }
    }
}
