.bets {
    &-list {
        color: #000;
        height: 400px;
        overflow-y: auto;
        background-color: white;
        font-size: 12px;
        font-weight: 600;
    }

    &-draw {
        display: flex;
        color: #b71103;
        margin: 0 5px;
        padding-top: 8px;
    }

    &-play {
        display: flex;
        color: #06639e;
        padding: 8px 10px;
        margin-top: 1px;
        background-color: #fff;
    }

    &-trash-icon {
        color: #b71103;
        cursor: pointer;
    }

    &-add-button {
        background-color: transparent;
        border: 1px #00ac5c solid;
        color: white;
        font-weight: bold;
        height: 40px;
        text-transform: uppercase;
        width: 100%;
    }

    &-delete-button {
        border: none;
        background-color: #b6b6bc;
        text-transform: uppercase;
        color: white;
    }

    &-buy-button {
        border: none;
        background-color: #00ac5c;
        text-transform: uppercase;
        color: white;
    }

    &-list-header,
    &-list-footer {
        background-color: #b6b6bc;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    @media screen and (min-width: 1280px) {
        &-wrapper {
            margin: 0 auto;
            max-width: 330px;
        }
    }
}
